body{
 
}

.input-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.field{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}
.input-box{
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}
.todo-box {
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: auto;
  border : solid 2px black ;
  border-radius: 8px;
  color: wheat;
  background-color: rgb(8, 29, 49);
  width: 50%;
  padding: 50px;
}
ul li {
  display: flex;
  justify-content: space-between;

}
.btn-style{
  background-color: rgb(79, 107, 107);
  color:beige;
  font-size: 15px;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
}
.input-box{
  border-radius: 25px;
  padding: 10px;
}
.task-card{
    width: 95%;
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,.15);
}
.task-title{
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color:rgb(50, 81, 121);
    font-size: 24px;
}
.task-description{
    margin-bottom: 10px;
    color: rgb(85, 84, 84);
    font-size: 18px;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 15px;
}
.update{
  background-color: green;
}